# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
client/.pnp
client/.pnp.js
client/.yarn/install-state.gz

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
client/.DS_Store
client/*.pem

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# local env files
client/.env*.local

# vercel
client/.vercel

# typescript
client/*.tsbuildinfo
client/next-env.d.ts

# Spring Specific Ignorance for api
# ========== Gradle ==========
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Wrapper logs
gradle-wrapper.properties
gradle-wrapper.jar

# ========== IDEs ==========
*.iml
.idea/
.vscode/
*.sw?
*.swp
*.swo

# ========== OS ==========
.DS_Store
Thumbs.db

# ========== Logs ==========
*.log
logs/
*.out

# ========== Java ==========
*.class
*.jar
*.war
*.ear

# ========== Environment ==========
.env
*.env

# ========== Spring Boot ==========
# Ignore local dev DB
*.h2.db
*.mv.db

# Spring Boot devtools settings
.spring-boot-devtools.properties

# ========== Test ==========
test-output/
target/

# ========== IntelliJ Cache ==========
out/